.aboutus{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.aboutus-banner{
    display: block;
    margin: 30px auto;
    width: 100%;
    height: 300px;
}
.aboutus h1{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
    color: #626262;
}
.aboutus hr{
    width: 100px;
    height: 3px;
    border-radius: 10px;
    background: #626262;
}
/* .aboutus video{
    margin-top: 20px;
    height: 250px;
} */
.aboutus p{
    width: 70%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}